<div id="container_footer">
  <div class="container_footer_right">
    <div class="container_footer_right_header">
      <img
        src="/assets/img/footer/logo_left.png"
        alt="logo"
        class="logo_right"
      />
      <div class="container_footer_right_header_page">
        <h4 class="container_footer_right_header_page_active">
          개인정보처리방침
        </h4>
        <div class="container_footer_right_header_page_driver"></div>
        <h4>조직도</h4>
        <div class="container_footer_right_header_page_driver"></div>
        <h4>사이트맵</h4>
      </div>
    </div>
    <div class="container_footer_right_body">
      <h4>
        우) 13437 경기도 성남시 중원구 성남대로 997 (여수동) 문화관광과 | 전화 :
        1577-3100 | 팩스 : 031-729-2979
      </h4>
      <h4>Copyright ⓒ Seongnam City. All Rights Reserved.</h4>
    </div>
  </div>
  <div class="container_footer_left">
    <img
      src="/assets/img/footer/logo_right.png"
      alt="logo_left"
      class="logo_left"
    />
  </div>
</div>
