<section id="section_1">
  <div class="left">
    <h1 class="title_1">Seong-Nam</h1>
    <div class="container_section_2">
      <h1 class="title_2">아름다운 경관과 문화가</h1>
      <h1 class="title_2">어우러진 성남</h1>
      <h3 class="title_3">다양한 성남의 아름다운 모습을 만나보세요!</h3>
      <div class="buttons_handle">
        <div class="buttons_handle_left">
          <div class="button button_left active">성남 9경</div>
          <div class="button button_right">벚꽃 9경</div>
        </div>
        <!-- buttons_handle_right_active -->
        <div class="buttons_handle_right buttons_handle_right_active">
          <!-- active -->
          <div class="button button_left active">
            <div class="icon_slide"></div>
          </div>
          <div class="button button_middle active">
            <img
              src="/assets/img/section_1/play.png"
              alt="icon_slide"
              class="icon_slide"
            />
          </div>
          <div class="outer-circle active">
            <div class="inner-circle">
              <img
                src="/assets/img/section_1/play.png"
                alt="icon_slide"
                class="icon_slide"
              />
            </div>
          </div>
          <div class="button button_right active">
            <div class="icon_slide"></div>
          </div>
        </div>
      </div>
      <div class="list_image">
        <div class="container">
          <div class="image_container">
            <img
              src="/assets/img/section_1/list_imgae_0/image_0.png"
              alt="list_image"
              class="image"
            />
          </div>
          <img
            src="/assets/img/section_1/active_image_small.png"
            alt="icon_active"
            class="icon_active"
          />
          <div class="container_des">
            <h3>1경</h3>
            <h3>성남시청</h3>
          </div>
        </div>
        <div class="container">
          <div class="image_container">
            <img
              src="/assets/img/section_1/list_imgae_0/image_1.png"
              alt="list_image"
              class="image"
            />
          </div>
          <img
            src="/assets/img/section_1/active_image_small.png"
            alt="icon_active"
            class="icon_active"
          />
          <div class="container_des">
            <h3>2경</h3>
            <h3>성남시청</h3>
          </div>
        </div>
        <div class="container">
          <div class="image_container">
            <img
              src="/assets/img/section_1/list_imgae_0/image_2.png"
              alt="list_image"
              class="image"
            />
          </div>
          <img
            src="/assets/img/section_1/active_image_small.png"
            alt="icon_active"
            class="icon_active"
          />
          <div class="container_des">
            <h3>3경</h3>
            <h3>성남시청</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_circle"></div>
  <div class="right">
    <img
      src="/assets/img/section_1/list_imgae_0/image_3.png"
      alt="image_main"
      class="image_main"
    />
    <img
      src="/assets/img/section_1/active_iamge.png"
      alt="image_active"
      class="image_active"
    />
  </div>
</section>
