html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

main {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


html,
body {
    height: 100%;
    margin: 0;
}

main {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

