<div class="container_section_3">
  <h1 class="section_title">이달의 행사일정</h1>
  <div class="list_event">
    <img
      src="/assets/img/section_3/icon_prev_left.svg"
      alt="icon_left"
      class="icon_left"
    />
    <div class="outer-container">
      <div class="inner-container">
        <div class="img-box">
          <div class="event-left">
            <h3>4</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립교향악단 성남뮤직페스티벌 시립교향악단 성남뮤직페스티벌</h4>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
        <div class="img-box">
          <div class="event-left">
            <h3>10</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립예술단 플래시몹 및 버스킹 공연</h4>
            <div class="slice-event"></div>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
        <div class="img-box">
          <div class="event-left">
            <h3>11</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립교향악단 성남뮤직페스티벌 시립교향악단 성남뮤직페스티벌</h4>
            <div class="slice-event"></div>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
        <div class="img-box">
          <div class="event-left">
            <h3>4</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립교향악단 성남뮤직페스티벌 시립교향악단 성남뮤직페스티벌</h4>
            <div class="slice-event"></div>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
        <div class="img-box">
          <div class="event-left">
            <h3>11</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립교향악단 성남뮤직페스티벌 시립교향악단 성남뮤직페스티벌</h4>
            <div class="slice-event"></div>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>

        <div class="img-box">
          <div class="event-left">
            <h3>4</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립교향악단 성남뮤직페스티벌 시립교향악단 성남뮤직페스티벌</h4>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
        <div class="img-box">
          <div class="event-left">
            <h3>10</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립예술단 플래시몹 및 버스킹 공연</h4>
            <div class="slice-event"></div>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
        <div class="img-box">
          <div class="event-left">
            <h3>11</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립교향악단 성남뮤직페스티벌 시립교향악단 성남뮤직페스티벌</h4>
            <div class="slice-event"></div>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
        <div class="img-box">
          <div class="event-left">
            <h3>4</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립교향악단 성남뮤직페스티벌 시립교향악단 성남뮤직페스티벌</h4>
            <div class="slice-event"></div>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
        <div class="img-box">
          <div class="event-left">
            <h3>11</h3>
            <h5>2024.05</h5>
          </div>
          <div class="event-right">
            <h4>시립교향악단 성남뮤직페스티벌 시립교향악단 성남뮤직페스티벌</h4>
            <div class="slice-event"></div>
            <div class="container-clock">
              <img
                src="/assets/img/section_3/clock.svg"
                alt="clock"
                class="clock"
              />
              <h5>11:00 ~ 12:30</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      src="/assets/img/section_3/icon_prev_right.svg"
      alt="icon_right"
      class="icon_right"
    />
  </div>
  <h1 class="section_title">성남의 행사소개</h1>
  <div class="container_section_3_2">
    <div class="container_section_3_2_left">
      <div class="container_section_3_2_bg"></div>
      <img
        src="./assets/img/section_3/bg_container_2.png"
        alt="bg_container_2"
        class="bg_container_2"
      />
      <div class="container_button_play">
        <div class="buttons_handle_right buttons_handle_right_active">
          <!-- active -->
          <div class="button button_left active">
            <div class="icon_slide"></div>
          </div>
          <div class="button button_middle active">
            <img
              src="/assets/img/section_1/play.png"
              alt="icon_slide"
              class="icon_slide"
            />
          </div>
          <div class="outer-circle active">
            <div class="inner-circle">
              <img
                src="/assets/img/section_1/play.png"
                alt="icon_slide"
                class="icon_slide"
              />
            </div>
          </div>
          <div class="button button_right active">
            <div class="icon_slide"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container_section_3_2_right">
      <h3 class="container_section_3_2_right_title">
        [문화와 예술이 어우러지는] 미니콘서트
      </h3>
      <h4 class="container_section_3_2_right_description">
        미니콘서트는 바쁜 일상생활로 쉽게 공연 문화를 접할 기회가 많지 않은
        시민들을 위해 찾아가는 공연으로 음악 콘서트부터 사극, 악극, 오케스트라,
        판소 리, 댄스, 드로잉 쇼까지 다채로운 공연을 즐길 수 있다.
      </h4>
      <div class="container_two_option">
        <div class="option">
          <div class="point"></div>
          <h6 class="des1">일정</h6>
          <h6 class="des2">연중 4 ~ 11월</h6>
        </div>
        <div class="option">
          <div class="point"></div>
          <h6 class="des1">일정</h6>
          <h6 class="des2">연중 4 ~ 11월</h6>
        </div>
      </div>
      <div class="button_section_3_right">
        <h2>바로가기</h2>
      </div>
    </div>
  </div>
  <h1 class="section_title">성남 여행 길잡이</h1>
  <div class="container_section_3_3">
    <div class="container_section_3_2_item">
      <img
        src="/assets/img/section_3/list_mage_container_3/img_1.png"
        alt="container_section_3_2_item_img"
        class="container_section_3_2_item_img"
      />
      <h5 class="container_section_3_2_item_des">성남관광컬러링</h5>
    </div>
    <div class="container_section_3_2_item">
      <img
        src="/assets/img/section_3/list_mage_container_3/img_2.png"
        alt="container_section_3_2_item_img"
        class="container_section_3_2_item_img"
      />
      <h5 class="container_section_3_2_item_des">성남관광사진</h5>
    </div>
    <div class="container_section_3_2_item">
      <img
        src="/assets/img/section_3/list_mage_container_3/img_3.png"
        alt="container_section_3_2_item_img"
        class="container_section_3_2_item_img"
      />
      <h5 class="container_section_3_2_item_des">관광안내지도</h5>
    </div>
    <div class="container_section_3_2_item">
      <img
        src="/assets/img/section_3/list_mage_container_3/img_4.png"
        alt="container_section_3_2_item_img"
        class="container_section_3_2_item_img"
      />
      <h5 class="container_section_3_2_item_des">음식점</h5>
    </div>
    <div class="container_section_3_2_item">
      <img
        src="/assets/img/section_3/list_mage_container_3/img_5.png"
        alt="container_section_3_2_item_img"
        class="container_section_3_2_item_img"
      />
      <h5 class="container_section_3_2_item_des">숙박</h5>
    </div>
    <div class="container_section_3_2_item">
      <img
        src="/assets/img/section_3/list_mage_container_3/img_6.png"
        alt="container_section_3_2_item_img"
        class="container_section_3_2_item_img"
      />
      <h5 class="container_section_3_2_item_des">맛집거리</h5>
    </div>
    <div class="container_section_3_2_item">
      <img
        src="/assets/img/section_3/list_mage_container_3/img_7.png"
        alt="container_section_3_2_item_img"
        class="container_section_3_2_item_img"
      />
      <h5 class="container_section_3_2_item_des">경기도특화거리</h5>
    </div>
  </div>
</div>
