<div id="container_section_1">
  <div class="container">
    <div class="container_left_1">
      <h1 class="title_main">성남관광</h1>
      <h1 class="title_main">도심에서 느끼는 감성여행</h1>
      <h3 class="title_sub">
        아름다운 자연경관과 문화유산이 가득한 성남으로 오세요
      </h3>
    </div>
    <div class="container_left_2"></div>
    <div class="container_right">
      <div class="container">
        <img src="./assets/img/header/sun.svg" alt="Sun" class="sun" />
        <div class="button">
          <h4>05.17 (금)</h4>
        </div>
        <h3>13 ℃</h3>
        <h4>미세먼지 67㎍/㎥</h4>
      </div>
    </div>
  </div>
  <div class="container_left">
    <h1 class="title_main">성남관광</h1>
    <h1 class="title_main">도심에서 느끼는 감성여행</h1>
    <h3 class="title_sub">
      아름다운 자연경관과 문화유산이 가득한 성남으로 오세요
    </h3>
  </div>
  <div class="select_addr">
    <div class="item">
      <div class="icon"></div>
      <h3 class="name">성남의 산길</h3>
    </div>
    <div class="item">
      <div class="icon"></div>
      <h3 class="name">성남의 물길</h3>
    </div>
    <div class="item">
      <div class="icon"></div>
      <h3 class="name">성남의 문화길</h3>
    </div>
  </div>
  <div class="split">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="image_list">
    <div class="image_item">
      <img
        src="./assets/img/header/list_image_0/image_1.png"
        alt="Image 1"
        class="image_container"
      />
      <div class="no_overlay">
        <h3>남한산성</h3>
        <img
          class="image_icon"
          src="./assets/img/header/icon_add.svg"
          alt="Icon"
        />

        <div class="bg"></div>
      </div>
    </div>
    <div class="image_item">
      <img
        src="./assets/img/header/list_image_0/image_2.png"
        alt="Image 2"
        class="image_container"
      />
      <div class="no_overlay">
        <h3>남한산성</h3>
        <img
          class="image_icon"
          src="./assets/img/header/icon_add.svg"
          alt="Icon"
        />
        <div class="bg"></div>
      </div>
    </div>
    <div class="image_item">
      <img
        src="./assets/img/header/list_image_0/image_3.png"
        alt="Image 3"
        class="image_container"
      />
      <div class="no_overlay">
        <h3>남한산성</h3>
        <img
          class="image_icon"
          src="./assets/img/header/icon_add.svg"
          alt="Icon"
        />
        <div class="bg"></div>
      </div>
    </div>
    <div class="image_item">
      <img
        src="./assets/img/header/list_image_0/image_4.png"
        alt="Image 4"
        class="image_container"
      />
      <div class="no_overlay">
        <h3>남한산성</h3>
        <img
          class="image_icon"
          src="./assets/img/header/icon_add.svg"
          alt="Icon"
        />
        <div class="bg"></div>
      </div>
    </div>
  </div>

  <div class="container_icon_slide">
    <img
      src="./assets/img/header/icon_slide.svg"
      alt="icon_slide"
      class="icon_slide"
    />
  </div>
</div>
