<div id="header">
  <img src="./assets/img/header/logo.png" alt="Logo" class="logo_img" />

  <nav id="nav" class="title">
    <li>
      <a href="#">관광테마</a>
    </li>
    <li>
      <a href="#">성남명소</a>
    </li>
    <li>
      <a href="#">여행 길잡이</a>
    </li>
    <li>
      <a href="#">문화 · 예술</a>
    </li>
    <li>
      <a href="#">공연 · 전시 · 행사</a>
    </li>
    <li>
      <a href="#">역사</a>
    </li>
  </nav>

  <div class="icon">
    <img
      src="./assets/img/header/header_right.svg"
      alt="Logo"
      class="header_right_logo"
    />
    <div class="header_right_mobile">
      <h3>로그인</h3>
      <img
        src="./assets/img/header/vector.svg"
        alt="vector"
        class="vector-img"
      />
    </div>
  </div>
</div>
